*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


nav{

    display: flex;
    gap: 30px;
    border: 1px solid black;
    background-color: rgb(7, 161, 189);
    padding: 30px;
    font-size: 30px;
}


@media(min-width: 576px){

    
    nav{
        
       
        justify-content:center ;
        
    }


}

@media(max-width: 576px){

   
nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;


}
        
a{
    
}


}